
body {
    background-color:#777;
    padding: 10px;
    width: 960px;
    margin: auto;
    font-family: 'Arial','Helvetica Nue', 'Helvetica', 'sans-serif';
    font-size: 18px;
}



header {
    color: #777;
    font-size: 32px;
    text-align: center;
    position: relative;
    background-color: white;
    padding: -20px;
}

nav {
    text-align: center;
    width: 100%;
    position: relative;
    background-color: white;
    color: #777;
    top: -30px;
    padding: 10px;
    
}



section {
    float: left;
    width: 47%;
    background-color: white;
    color: #777;
    padding: 10px;
    
}

article {
    background-color: #777;
    color: white;
    padding: 10px;
}

aside {
    float: right;
    width: 47%;
    height: 1250px;
    background-color: white;
    color: #777;
    overflow: auto;
    padding: 10px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px;
    top: 30px;
}



